
  $Bpink : #DA5380;
  $BpinkText: #f25d8e;
  $BpinkLight: #f9579c;
  $hover: #e5e9ef;
  $fontGrey: #dce6ee;
  $fontActive: #00a1d6;
  $btnGrey: #e5e9ef;
  $btnHover: #ccd0d7;
  $line: #dce6ee;
  $footerGrey: #f6f9fa;
  $fontDark: #99a2aa;

